global
    log /dev/log local0
    maxconn 2000

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# ---------- Balanceador TCP (buses -> ServidorATU) ----------
frontend ft_tcp_atu
    bind *:9000
    mode tcp
    default_backend bk_tcp_atu

backend bk_tcp_atu
    mode tcp
    balance roundrobin
    option tcp-check
    server atu_principal 127.0.0.1:5050 check inter 2000 rise 2 fall 3
    server atu_respaldo  127.0.0.1:5051 check inter 2000 rise 2 fall 3 backup

# ---------- Balanceador HTTP (dashboard -> ServidorATU) ----------
frontend ft_http_atu
    bind *:9001
    mode http
    default_backend bk_http_atu

backend bk_http_atu
    mode http
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server atu_principal 127.0.0.1:8080 check inter 2000 rise 2 fall 3
    server atu_respaldo  127.0.0.1:8081 check inter 2000 rise 2 fall 3 backup

# ---------- Panel de estadisticas ----------
listen stats
    bind *:9999
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
